<table border="2">
  <thead>
    <tr>
      <td>Name</td>
      <td>start date</td>
      <td>end date</td>
    </tr>
  </thead>
  <tbody>
    
<% @sponsor.events.each do |s|%>
<tr>
  <td><%= link_to(s.name, event_path(s.id)) %></td>
  <td><%= s.start_date %></td>
  <td><%= s.end_date %></td>
</tr>
  <% end %>
  
</tbody>
</table>